<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <title>E-Mail Bestätigung</title>
  </head>
  <body style="margin: 0; padding: 20px 50px; font-family: Arial, Helvetica, sans-serif, color: #333; line-height: 1.6;">
    
    <div style="margin-bottom: 20px;">
      <img src="https://adrianensslin.de/img/logo/logo.svg" alt="Videoflix Logo" style="height: 50px" />
    </div>

    <p>Hello,</p>

    <p>Thank you for registering with Videoflix. To complete your registration and verify your email address, please click the link below:</p>

    <p style="margin: 30px 0;">
      <a href="{{ verify_url }}" style="background-color: #004080; color: white; padding: 12px 24px; text-decoration: none; border-radius: 10px; font-size: 15px;">Activate account</a>
    </p>

    <p>If you did not create an account with us, please disregard this email.</p>

    <p style="margin-top: 40px;">Best regards, Your Videoflix Team.</p>
  </body>
</html>
